.dot {
  height: 1.3rem;
  width: 1.3rem;
  border-radius: 50%;
  display: inline-block;
}

.connection-status {
  display: flex;
  align-items: center;
}

.stat {
  display: flex;
  padding: 1em;
  flex-direction: column;
}

.box-data {
  display: flex;
  justify-content: start;
}